server:
  port: 8080
  shutdown: graceful
  error:
    whitelabel:
      enabled: false

spring:
  main:
    banner-mode: 'off'
  profiles:
    active: default
  application:
    name: journey
  kafka:
    bootstrap-servers: ${kafka.brokers}
    security:
      protocol: ssl
    ssl:
      trust-store-location: file:${kafka.truststore.path}
      trust-store-type: JKS
      trust-store-password: ${kafka.credstore.password}
      key-store-location: file:${kafka.keystore.path}
      key-store-type: PKCS12
      key-store-password: ${kafka.credstore.password}
    topics:
      sykmeldinger: tsm.sykmeldinger
management:
  endpoint:
    prometheus.enabled: true
    health.probes.enabled: true
    health.show-details: always
  endpoints.web:
    base-path: "/internal"
    exposure.include: health, prometheus
  health:
    livenessstate.enabled: true
    readinessState.enabled: true

nais:
  cluster: ${NAIS_CLUSTER_NAME}
  texas:
    endpoint: ${NAIS_TOKEN_ENDPOINT}

teamsykmelding:
  topic:
    journalOpprettet: "teamsykmelding.oppgave-journal-opprettet"

tsm:
  bucket: ${TSM_SYKMELDING_BUCKET}
  pdl:
    scope: ${TSM_PDL_CACHE_SCOPE}
    url: http://tsm-pdl-cache
dokarkiv.url: ${DOKARKIV_URL}
dokarkiv.scope: ${DOKARKIV_SCOPE}


